* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
header{
    background: #fd1616;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo h1 {
    color: white;
    font-size: 46px;
    margin: 0;
    font-family: 'Bad Script', cursive;
    letter-spacing: 2px;
    font-weight: bolder bold;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-left: 30px;
    margin-top: 20px;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: relative;
}

nav ul li a:hover{
    color: rgb(254, 233, 149);
}

nav ul li .submenu {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    display:none;
    width: 150px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  nav ul li:hover .submenu {
    display: block;
  }
  
  nav ul li .submenu a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #555;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  
  nav ul li .submenu a:hover {
    color: red;
  }
  
.contato{
    margin-left: 150px;
}
  
body{
    margin: 0;
    margin-bottom: 270px;
    height: 100vh;
    background-color: #ffdfca;
    font-family: 'Roboto', sans-serif;
    display: grid;

}

.class{
    color: #fd1616;
    padding: 20px 0px;
}


    
.recipe-image {
    text-align: right;
    font-size: 12px;
    color: #8f8f8f;
  }
  
  .recipe-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
  }

   .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 300px;
   }

   .card{
    background: radial-gradient(rgb(255, 255, 255), rgb(255, 244, 200));
	padding: 50px;
    padding-top: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #aaa;
	text-align: center;
	font-family: "Roboto", sans-serif;
	max-width: 800px;
    }

    

    h2{
     margin-top: 30px;
     margin-bottom: 20px;
     font-size: 20px; 
     color: #fd1616;
    }

    ul, ol {
        text-align: left;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    li{
        line-height: 1.5;
    }

    footer{
        margin-top: 250px;
        text-align: center;
        font-size: 12px;
        color: #8F8F8F;
        background-color: trnsparent;
      }
